.prelude{
  background-image: url("../img/Header.png");
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.container{
  width: 100%;
  max-width: calc(100%-128px);
  padding: 0 64px;
}

.header{
  width: 100%;
  display: flex;
  justify-content: space-between;
  
}

.menu-button{
  height: 80px;
  width: 88px;
}

.header_logo{
  font-family: 'Playfair Display';
  font-style: normal;
  font-weight: 700;
  font-size: 28px;
  line-height: 28px;

  color: #FFFFFF;
}

.cart_button{
  height: 30px;
  width: 28px;
  padding: 18px;
}

.bar-white{
  margin-top: 100px;
  margin-left: 90px;
}

.prelude-content h2{
font-family: 'Playfair Display';
font-style: normal;
font-weight: 700;
font-size: 70px;
line-height: 84px;

color: #FFFFFF;

padding-left: 90px;

}

.prelude-content p{
font-family: 'Manrope';
font-style: normal;
font-weight: 400;
font-size: 32px;
line-height: 40px;
padding-left: 90px;

color: #FFFFFF;
}

.arrow-left{
  margin-left: 90px;
}

.arrow-right{
  margin-left: 20px;
}

.slider-controls{
  padding-bottom: 40px;
}

.container-content01{
  padding: 100px;
  display: flex;
  justify-content: space-between;
}

.img-content-01 img{
  width: 704px;
  height: 560px;  
}

/* A aplicação de um texto ja serve pro outro de outra classe */

.text-content-01 h2{
  font-family: 'Playfair Display';
  font-style: normal;
  font-weight: 700;
  font-size: 38px;
  line-height: 80px; 

  color: #0B1D03;
}

.text-content-01 p{
  font-family: 'Manrope';
font-style: normal;
font-weight: 700;
font-size: 28px;
line-height: 30px;

color: #0B1D03;
}

.container-content02{
  padding: 100px;
  display: flex;
  justify-content: space-between;
}

.title h2{
  width: 370px;

  padding-left: 80px;
  font-family: 'Playfair Display';
  font-style: normal;
  font-weight: 700;
  font-size: 36px;
  line-height: 60px;
  /* identical to box height, or 107% */
  
  
  /* Coffee / Hover */
  
  color: #A0996C;
}